/* You can add global styles to this file, and also import other style files */
:root {
  --mainColor: #771F98;
}

.btnActived{
    background-color: #771F98 !important;; 
    color: white !important;
}

.primaryColor {
    color: #771F98 !important;; 

}